In this Python project we will imporing table of list of postal codes of canada from wikipedia and clean the data

In [26]:
#importing necessary library
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import urllib.request

In [27]:
#requesting the page of wikipedia
link = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
request = urllib.request.urlopen(link)
soup = BeautifulSoup(request,'lxml')

In [28]:
#the required table
table=soup.find('table',class_='wikitable sortable')

In [29]:
#forming a meaningful dataframe from the lxml file
A = []
B = []
C = []

for row in table.find_all('tr'):
    cells=row.find_all('td')
    if len(cells)==3:
        A.append(cells[0].find(text=True))
        B.append(cells[1].find(text=True))
        C.append(cells[2].find(text=True))

In [36]:
#combining the various list to form the dataframe
df=pd.DataFrame(A,columns=['Postal Code'])
df['Borough']=B
df['Neighborhood']=C
df

,Postal Code,Borough,Neighborhood
0,M1A\n,Not assigned\n,Not assigned\n
1,M2A\n,Not assigned\n,Not assigned\n
2,M3A\n,North York\n,Parkwoods\n
3,M4A\n,North York\n,Victoria Village\n
4,M5A\n,Downtown Toronto\n,"Regent Park, Harbourfront\n"
...,...,...,...
175,M5Z\n,Not assigned\n,Not assigned\n
176,M6Z\n,Not assigned\n,Not assigned\n
177,M7Z\n,Not assigned\n,Not assigned\n
178,M8Z\n,Etobicoke\n,"Mimico NW, The Queensway West, South of Bloor,..."
179,M9Z\n,Not assigned\n,Not assigned\n

In [37]:
#grouping the dataframe based on the postal code and combining neighborhood having same postal code together
df["Neighborhood"] = df.groupby("Postal Code")["Neighborhood"].transform(lambda neigh: ', '.join(neigh))

df = df.drop_duplicates()

if(df.index.name != 'Postal Code'):
    df =df.set_index('Postal Code')
    
df.head()

                        Borough                 Neighborhood
Postal Code
M1A\n            Not assigned\n               Not assigned\n
M2A\n            Not assigned\n               Not assigned\n
M3A\n              North York\n                  Parkwoods\n
M4A\n              North York\n           Victoria Village\n
M5A\n        Downtown Toronto\n  Regent Park, Harbourfront\n

In [38]:
#removing the not assigned borough
df = df[df['Borough'] != 'Not assigned\n']
df.head()

                        Borough                                   Neighborhood
Postal Code
M3A\n              North York\n                                    Parkwoods\n
M4A\n              North York\n                             Victoria Village\n
M5A\n        Downtown Toronto\n                    Regent Park, Harbourfront\n
M6A\n              North York\n             Lawrence Manor, Lawrence Heights\n
M7A\n        Downtown Toronto\n  Queen's Park, Ontario Provincial Government\n

In [35]:
df.shape

(103, 2)